html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: table-cell;
}

html,
body {
  margin: 0;
  padding: 0;
}

.thunderstorm {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(110, 112, 129) 0%,
    rgb(41, 58, 75) 81.3%
  );
}

.cloudy {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.partiallycloudy {
  background: linear-gradient(70deg, #8595bb 0%, #e4efe9 100%);
}

.rainy {
  background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.sunny {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.sunandrain {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
h2 {
  font-size: 30px;
  color: dimgrey;
}

h3 {
  font-size: 18px;
}

#current-button {
  background-color: rgb(143, 188, 143);
  border-color: rgb(143, 188, 143);
}
#current-button:hover {
  background-color: rgb(105, 139, 105);
  border-color: rgb(105, 139, 105);
}

#search-button {
  background-color: rgb(240, 128, 128);
  border-color: rgb(240, 128, 128);
}
#search-button:hover {
  background-color: rgb(182, 97, 97);
  border-color: rgb(182, 97, 97);
}

.card-body {
  color: dimgrey;
}
#weather-description {
  color: black;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.change-unit {
  text-decoration: none;
  color: black;
}

#icon-now {
  width: 175px;
  margin-top: -35px;
  margin-bottom: -5px;
}

#temperature-now {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.units {
  font-size: 20px;
  position: relative;
  top: -25px;
  color: dimgrey;
}

.card.current .weather {
  font-size: 30px;
  font-weight: bold;
}

.card.current .card-text {
  font-size: 25px;
}

.card.current .info {
  text-align: left;
}
.date {
  font-size: 18px;
}

.temperature {
  font-size: 18px;
  margin-bottom: 0;
}

.card-body {
  text-align: center;
}

.icon {
  width: 70px;
  margin-bottom: 10px;
}

a {
  color: dimgrey;
}

footer {
  background: white;
  font-size: 15px;
  text-align: center;
  color: dimgrey;
  border-radius: 0.25rem;
}
